.menu {
  align-items: center;
  color: white;
  height: fit-content;
  display: flex;
  margin: 30px 0;
  flex-direction: column;
  overflow: hidden;
}
.menu .menu_list {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 8px;
}
.menu .menu_list button {
  transition: 0.5s;
}
.menu .menu_list button:hover {
  background-color: #478BF9;
}
.menu .menu_register {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 30px;
}
.menu .menu_register :nth-child(2) {
  background-color: #478BF9;
}
.menu .menu_register button {
  transition: 0.5s;
}
.menu .menu_register button:hover {
  background-color: #478BF9;
}
.menu .menu_register :nth-child(2):hover {
  background: #abc5fb;
  color: #478BF9;
}
.menu button {
  width: 300px;
  padding: 13px 20px;
  align-items: center;
  border-radius: 28px;
  border: 2px solid var(--main-blue-478-bf-9, #478BF9);
  background: var(--main-navy-blue-110-a-1-d, #110A1D);
  color: var(--main-clean-white-ffffff, #FFF);
  cursor: pointer;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 1050px) {
  .menu {
    display: none;
  }
  .menu .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
  .menu .menu.open {
    height: auto;
    transition: height 3s ease-out;
  }
}
