.app {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-navy-blue-110-a-1-d, #110A1D);
  text-align: center;
  max-width: 1920px;
  width: 100%;
  

  .rightbackgroundwhite {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .container {
    max-width: 1640px;
    width: 100%;
    font-family: 'Lexend', sans-serif;
  }
}